@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

#controls {
    width: 60%;
}

.messages {
    width: 100%;
    height: auto;
    max-height: 70vh;
}

.view-message {
    width: 40%;

    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
}

.message-preview {
    color: gray;
}

#delete-button {
    width: fit-content;
}

@media (max-width: 800px) {
    #window {
        flex-direction: column-reverse;
    }

    #controls {
        width: 90vw;
        height: auto;
        max-height: none;
    }

    .messages {
        max-height: none;
        overflow-y: auto;
    }

    .view-message {
        height: 75vh;
        width: 90vw;
        padding: 10% 0 !important;
    }
}