.airplane {
    position: absolute;
    transition: all 2s linear;
}
.not-thrown {
    bottom: 38%;
    left: 80%;
}
.thrown {
    bottom: 35%;
    left: 20%;
}

#sky {
    width: 80vw;
    height: 50vh;
}