.airplane {
    position: absolute;
    width: 60px;
    height: auto;
    transition: all 2s linear;
}
.not-thrown {
    bottom: 38%;
    left: 80%;
}
.thrown {
    bottom: 35%;
    left: 20%;
}

#sky {
    width: 80vw;
    height: 50vh;

    transition: linear all 0.5s;
}

#house-sender {
    transform: scaleX(-1);
}