@import "../node_modules/bootstrap/scss/bootstrap";

/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {

}

body header {

}