/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color Scheme */
    --bs-primary: #ffe9cc;
    --bs-primary-rgb: 255, 233, 204;

    --bs-secondary: #faaf8a;
    --bs-secondary-rgb: 250,175,138;

    --bs-warning: #DB4251;
    --bs-warning-rgb: 219, 66, 81;

    --bs-success: #379F94;
--bs-success-rgb: 55, 159, 148;


}

body {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1em;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}